APP_NAME="專業朋友殺手"
APP_NAME_SLUG="ProfessionalFriendshipTerminator"
ANDROID_APPLICATION_ID="org.dennisleehappy.ft"
IOS_BUNDLE_ID="org.dennisleehappy.ft"
IOS_TEAM_ID="friendshipkiller.dev"
BUILD_NAME="0.2.0"
BUILD_NUMBER="1"
