APP_NAME="專業朋友殺手"
APP_NAME_SLUG="ProfessionalFriendshipTerminator"
ANDROID_APPLICATION_ID="dev.friendshipkiller"
IOS_BUNDLE_ID="dev.friendshipkiller"
IOS_TEAM_ID="CHANGE_ME"
BUILD_NAME="0.2.0"
BUILD_NUMBER="1"
