APP_NAME="Ancient Occupation Lab"
APP_NAME_SLUG="AncientOccupationLab"
ANDROID_APPLICATION_ID="io.github.dennisleedennis.ancientoccupationlab"
IOS_BUNDLE_ID="io.github.dennisleedennis.ancientoccupationlab"
IOS_TEAM_ID="CHANGE_ME"
BUILD_NAME="0.2.0"
BUILD_NUMBER="1"
